.calculator-frame {
    background-color:lightgray;
    border-radius: 25px;
}

.answer-display {
    background-color:whitesmoke;
    border-radius: 25px;
}

.calculator-button {
    background-color: whitesmoke;
    border-radius: 25px;
}

.calculator-button-function {
    background-color:springgreen;
}

.calculator-button-reset {
    background-color: tomato;
}