.hideScrollBar::-webkit-scrollbar {
    display: none;
}

.hideScrollBar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

.my-message {
    background-color: greenyellow;
}

.others-message {
    background-color: white;
}